&.flag-croatia {
  .lines(to bottom, #C40002, #fff, #0800B5);

  &:before {
    position: absolute;
    z-index: 20;
    font-size: 0.6em;
    transform: rotate(45deg);
    color: #B7060C;
    left: 50%; top: 50%;
    margin-left: -.5em; margin-top: -.6em;
    content: '❖';
  }
}
