&.of-spain {
  background: linear-gradient(to bottom, #CD3032 0, #CD3032 25%, #FBFB30 25%, #FBFB30 75%, #CD3032 75%);

  &:before {
    content: '';
    left: 20%;
    top: 50%;
    margin-top: -.15em;
    width: 15%;
    border-radius: 0 0 .2em .2em;
    height: 30%;
    display: block;
    position: absolute;
    //background: #E4464C;
    background: radial-gradient(#487A99 0, #487A99 .05em, #E4464C .051em);
  }
}