.lines(@dir, @cl1, @cl2, @cl3) {
  background: linear-gradient(@dir, @cl1 0, @cl1 33.3%, @cl2 33.34%, @cl2 66.66%, @cl3 66.67%, @cl3 100%);
}

.css-flag {
  font-family: monospace;
  display: inline-block;
  position: relative;
  font-size: 16px;
  height: 1em;
  width: 1.5em;
  
  &.flag-rounded {
    border-radius: 15%;
    overflow: hidden;
  }

  &.flag-square {
    width: 16px;
  }

  &.flag-circle {
    width: 16px;
    overflow: hidden;
    border-radius: 50%;
  }

  @import 'flags/russia.less';
  @import 'flags/italy.less';
  @import 'flags/germany.less';
  @import 'flags/france.less';
  @import 'flags/norway.less';
  @import 'flags/austria.less';
  @import 'flags/spain.less';
  @import 'flags/belarus.less';
  @import 'flags/croatia.less';
  @import 'flags/denmark.less';
  @import 'flags/estonia.less';
  @import 'flags/greece.less';
}