.lines(@dir, @cl1, @cl2, @cl3) {
  background: linear-gradient(@dir, @cl1 0, @cl1 33.3%, @cl2 33.34%, @cl2 66.66%, @cl3 66.67%, @cl3 100%);
}

.css-flag {
  font-family: monospace;
  width: 24px;
  height: 16px;
  display: inline-block;
  position: relative;
  font-size: 16px;
  
  &.flag-rounded {
    border-radius: 15%;
    overflow: hidden;
  }

  &.flag-square {
    width: 16px;
  }

  &.flag-circle {
    width: 16px;
    overflow: hidden;
    border-radius: 50%;
  }

  &.flag-ru {
    .lines(to bottom, #fff, #00d, #900);
  }

  &.flag-it {
    .lines(to right, #009246, #fff, #CE2B37);
  }

  &.flag-de {
    .lines(to bottom, #000, #DD0000, #FFCE00);
  }

  &.flag-fr {
    .lines(to right, #002395, #fff, #ED2939);
  }

  &.flag-nw {
    background: #EF2B2D;
    overflow: hidden;

    &:before {
      letter-spacing: -5px;
      content: '+−';
      line-height: .5em;
      font-size: 2.2em;
      position: absolute;
      left: -3px;
      top: 0;
      color: #00a;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff;
    }
  }
}