&.of-belarus {
  display: none !important;
  .flag-srtipes(#FE0002 #FE0002 #008403);

  &:before {
    position: absolute;
    left: 0; top: 0; bottom: 0;
    z-index: 20;
    width: .3em;
    display: block;
    background: #fff;
    color: #FE0002;
    content: '◈◈';
  }
}