&.of-denmark {
  background: #CF0B31;
  position: relative;
  overflow: hidden;
  
  &:before {
    position: absolute;
    line-height: .44em;
    content: '†';
    transform: rotate(-90deg);
    font-size: 2.2em;
    color: #fff;
    left: .05em;
    font-weight: bold;
  }
}