&.of-greece {
  .flag-srtipes(#0001FD #fff);
  background-size: auto 20%;

  &:before {
    position: absolute;
    left: 0; top: 0;
    overflow: hidden;
    color: #fff;
    height: .62em;
    width: .62em;
    background: #0001FD;
    font-size: .8em;
    content: ' ━╋━';
    letter-spacing: -.44em;
    line-height: .4em;
  }
}